body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media (max-width: 700px) {
    .hideMobile {
        display: none !important;
    }
}

@media (min-width: 699px) {
    .hideDesktop {
        display: none !important;
    }
}

@media (max-height: 370px) {
    .hide {
        display: none !important;
    }
}

@media (min-height: 369px) {
    .hideTxt {
        display: none !important;
    }
}
